<style type="text/css">

body { 
	background: url(/assets/fino.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.whitebg {
  background-color:RGBA(255,255,255,0.8);
 }
 
.pinkbg
{
	background-color:RGBA(238,119,164,1);
}

.greenbg
{
	background-color:RGBA(177,196,48,1);
}

.bluebg
{
	background-color:RGBA(61,165,180,1);
}
</style>

<div class="row" >
	<div class="span9"></div>
	<div class="span3">
		<div class="well bluebg"><h4 style="color: white; text-align: center">Listo! Gracias :D</h4></div>
	</div>
</div>
