<div class="hero-unit">
  <h1>Presentacion del proyecto</h1>
  <p>Una no muy grande explicacion de que se trata<br />
  	La foto de un raton sonriente<br />
  	Y un boton para que me lleve a un tour en imagenes
  </p>
  <br />
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>

<div class="row">
	<div class="span12" align="center">
		<h3>Descubre que esta pasando en tu ciudad</h3>
	</div>
</div>

<div class="row">
	<div class="span3">
		<select id="ciudad-id" onchange="hola()">
				<% @ciudades_list.each do |ca| %>
					<option value=<%= ca.id %>><%= ca.nombre %></option>
				<% end %>
		</select>
		<br />
		<br />
	<% if current_usuario != nil %>
		<h3>Estas conectado</h3>
		<div class="btn"><%= link_to "Agrega un evento!", evento_nuevo_path %></div>
	<%else %>
		<h3>Se parte de la comunidad para agregar tu mismo los eventos!!</h3>
		
	<% end %>
	</div>
	<div class="span9">
		<div id="map_canvas"  style="width:800px; height:500px; border: 5px solid"></div>
	</div>
</div>


<!---Descubre que esta pasando es tu ciudad! <br />
<button onclick="localizarUser()">Localizame!</button>--->


<br />
<br />
<hr />
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD8gL6_aJgnL_j24LpiIMk-OTBSRIot9K4&sensor=false" ></script>
<script type="text/javascript">


function hola(){
	var value = $("#ciudad-id :selected").val();
	var direccion = '/servicios/ciudad_detail.json?id='+value;
	var lat = "null", lon = "null";
	
	$.getJSON(direccion,function(json)
	{
		//console.log(json);
		var lat =  json.latitud;
		var lon =  json.longitud;
		
		//cambiaCiudad(lat,lon);
		createMap(lat,lon);
	});// fin del get
	
	actualizarEventos(value);
}

function actualizarEventos(value)
{
	var direccion = '/servicios/ciudad_evento.json?id='+value;
	
	
		$.getJSON(direccion,function(json)
		{	
			$.each(json,function(i,post)
			{
				var lat =  post.latitud;
				var lon =  post.longitud;
				var texto = post.nombre;
				var id = post.id;
				var link = '/eventos/' + post._id;
				//var evento_id = post.id;
							
				//console.log(link);					
				createMarkerInfo(lat,lon,texto,link,false);
			});
		});
	
	
}
</script>

