<style type="text/css">

body { 
	background: url(/assets/fino.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.whitebg {
  background-color:RGBA(255,255,255,0.8);
 }
 
.pinkbg
{
	background-color:RGBA(238,119,164,1);
}

.greenbg
{
	background-color:RGBA(177,196,48,1);
}

.bluebg
{
	background-color:RGBA(61,165,180,1);
}
</style>



<div class="row" >
	<div class="span9"></div>
	<div class="span3">
		
		<div class="well pinkbg"><h4 style="color: white; text-align: center">Yo soy Fino</h4></div>
		<div class="well greenbg"><h4 style="color: white; text-align: center">Trabajo en Eventeka</h4></div>
		<div class="well bluebg"><h4 style="color: white; text-align: center">Te diré cuando este listo</h4></div>
		

		<%= form_for @registro,:html => {:method => "get",:class=> "form-search" }, :url => {:action => :registrar} do |e| %>		
			<%= e.text_field :email, :class => "input-medium search-query",  :placeholder => "email"   %>
			<%= e.hidden_field :fecha, :value=> Time.now.to_formatted_s(:db)%>
			<%= e.submit "Si dime!", :class => "btn" %>
		<% end %>
		

	</div>
</div>


